body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

h1 {
  cursor: default;
}

h2 {
  cursor: default;
}

h3 {
  cursor: default;
}

p {
  cursor: default;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3vmin;
  color: white;
}

.profileArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-right: 2vw;
  font-size: 3vmin;
}

.profileArea > a {
  text-decoration: none;
  color: white;
}

#nome {
  margin-left: 2vw;
}

#pfp {
  height: 8vmin;
  border-radius: 100%;
}

.body{
  background-color: #444850;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
}

.body > h2 {
  color: white;
  margin-top: 0;
  padding: 2vw;
  margin: 0;
}

.projetos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 1vmax; */
}

.projeto{
  margin-bottom: 30px;
  margin-left: 1vmax;
  margin-right: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1vh;
  width: calc(250px + 1vmax);
  max-width: calc(250px + 1vmax);
}

.projetoLogo{
  background-color: #8691a9;
  width: calc(250px + 1vmax);
  max-width: calc(250px + 1vmax);
  aspect-ratio: 3/2;
  border-radius: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetoLogo > img{
  max-width: calc(250px + 1vmax);
  height: calc(((250px + 1vmax)/3)*2);
}

.projeto > h3 {
  margin: 0;
  color: white;
  font-size: calc(8px + 1vmax);
}

.links {
  margin-top: -1.5vh;
  color: white;
}

.links > p {
  margin: 0;
  font-size: calc(11px + 1vmax);
}

.links > p > a {
  text-decoration: underline;
  color: white;
}

.formularioArea{
  width: 100%;
  background-color: #26292d;
  color: white;
}

#formTitulo{
  margin: 2vw;
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 2vw;
}

.formulario > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.formulario > div > input {
  width: 35vw;
  height: 5vh;
}

.formulario > textarea{
  width: 72vw;
  height: 10vh;
}

.formulario > div > button{
  width: 100vw;
  max-width: 200px;
  height: 75px;
  background-color: aquamarine;
  border: none;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
}